@model IEnumerable<CentralDasOngs.Models.UserOngModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Nossas ONGs parceiras</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
             <td> 
                <a asp-action="Details" asp-route-id="@item.Id">Saiba mais</a>
             </td>
        </tr>
}
    </tbody>
</table>

<a asp-controller="Home" asp-action="Index">Voltar</a>

