@model CentralOngs.Models.JobModel

@{
    ViewData["Title"] = "Create";
}

<a asp-action="Index" type="button" class="text-decoration-none"><i class="fa-solid fa-arrow-left"></i> Voltar</a>
<h1>Criar um trabalho</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JobType" class="control-label"></label>
                <select asp-for="JobType" asp-items="Html.GetEnumSelectList<JobType>()" class="form-control"></select>
            </div>
            <div class="form-group" hidden>
                <label asp-for="UserOngId" class="control-label"></label>
                <select asp-for="UserOngId" class ="form-control" asp-items="ViewBag.UserOngId"></select>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Criar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
