@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Central das ONGs</h1>
    <p>
        "Quando somos bons para os outros, somos ainda melhores para nós."
    </p>
</div>
<div>
</div>
