@model IEnumerable<CentralOngs.Models.UserOngModel>

@{
    ViewData["Title"] = "Index";
}

<a asp-controller="Job" asp-action="Index" class="text-decoration-none"><i class="fa-solid fa-arrow-left"></i> Voltar</a>
<h1>Lista de ONGs Parceiras</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">Saiba mais</a>
                </td>
            </tr>
        }
    </tbody>
</table>


