@model CentralOngs.Models.UserOngModel

@{
    ViewData["Title"] = "Details";
}

<h1>Criação de Ongs</h1>

<div>
    <p>Ong Criada com sucesso</p>
</div>
<div>
    @if (User.Identity.IsAuthenticated)
    {
        @if (User.IsInRole("Ong") && Model.Id.ToString() == User.Claims.ElementAt(1).Value)
        {
            <a asp-action="Delete" asp-route-id="@Model.Id">Deletar |</a>
            <a asp-action="UpdatePassword" asp-route-id="@Model.Id">Mudar Senha |</a>
        }
    }
    <a asp-action="Index">Voltar</a>
</div>