@model CentralDasOngs.Models.UserVoluntarioModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>UserVoluntarioModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Cpf" />
            <div class="form-group">
                <label asp-for="DateBirthDay" class="control-label"></label>
                <input asp-for="DateBirthDay" class="form-control" />
                <span asp-validation-for="DateBirthDay" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contact" class="control-label"></label>
                <input asp-for="Contact" class="form-control" />
                <span asp-validation-for="Contact" class="text-danger"></span>
            </div>
            <hr>
            <div class="form-group">
                <label asp-for="AdressModel.State" class="control-label"></label>
                <select asp-for="AdressModel.State" class="form-control" asp-items="ViewBag.State"></select>
            </div>
            <div class="form-group">
                <label asp-for="AdressModel.City" class="control-label"></label>
                <input asp-for="AdressModel.City" class="form-control" />
                <span asp-validation-for="AdressModel. City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AdressModel.District" class="control-label"></label>
                <input asp-for="AdressModel.District" class="form-control" />
                <span asp-validation-for="AdressModel.District" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AdressModel.Street" class="control-label"></label>
                <input asp-for="AdressModel.Street" class="form-control" />
                <span asp-validation-for="AdressModel.Street" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AdressModel.HouseNumber" class="control-label"></label>
                <input asp-for="AdressModel.HouseNumber" class="form-control" />
                <span asp-validation-for="AdressModel.HouseNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AdressModel.Complement" class="control-label"></label>
                <input asp-for="AdressModel.Complement" class="form-control" />
                <span asp-validation-for="AdressModel.Complement" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Details" asp-route-id="@Model.Cpf">Voltar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
