@model CentralDasOngs.Models.DadoBancario

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>DadoBancario</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NumeroConta" class="control-label"></label>
                <input asp-for="NumeroConta" class="form-control" />
                <span asp-validation-for="NumeroConta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Agencia" class="control-label"></label>
                <input asp-for="Agencia" class="form-control" />
                <span asp-validation-for="Agencia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Operacao" class="control-label"></label>
                <input asp-for="Operacao" class="form-control" />
                <span asp-validation-for="Operacao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Codigo" class="control-label"></label>
                <select asp-for="Codigo" class ="form-control" asp-items="ViewBag.Codigo"></select>
            </div>
@*            <div class="form-group">
                <label asp-for="UsuarioOngCnpj" class="control-label"></label>
                <select asp-for="UsuarioOngCnpj" class ="form-control" asp-items="ViewBag.UsuarioOngCnpj"></select>
            </div>*@
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
